/* ++++++++++++++++++++++++++++++++++++++===========WHOLE FILE============== */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  width: 1440px;
  outline: dashed tomato;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  outline: solid tomato;
}
/* -----------------------outline shpuld be deleted later!! */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --brand-color: #4d5ae5;
  --main-header-color: #2e2f42;
  --btn-accent-color: #404bbf;
  --background-color: #2e2f42;
}

/* ===========================HEADER================================ */
.nav-container {
  display: flex;
  align-items: center;
  padding-left: ;
}

.logo-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-header-color);
  margin-right: 76px;
}
/* тут правий марджин!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.blue-logo-text {
  color: var(--brand-color);
}
.nav-menu {
  display: flex;
}
.nav-item {
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
/* тут правий марджин!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  outline: solid brown;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.address {
  margin-left: auto;
}
.adrdress-list {
  display: flex;
}
.adrdress-list > .adrdress-item + .adrdress-item {
  margin-left: 40px;
}
.address-link {
  font-style: normal;
  color: #434455;
  outline: solid brown;
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-color);
}
/*================= .visually-hidden H1 ==============*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* +++++++++++++++++++++++++++++++++========================MAIN-PAGE========================================+++++++++++++++++++ */
/* ===========================HERO================================ */
.hero-background {
  background: var(--background-color);
}
/* MAYBE BETTER DELETE LATER CLASS ABOVE? */

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  background: var(--brand-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--brand-color);
}
.hero-btn:active {
  background: #404bbf;
}

/* ==============================BENEFITS========================= */

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ==============================WHAT WE ARE DOING========================= */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-header-color);
}
/* ==============================OUR TEAM========================= */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-header-color);
}

.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-header-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ==============================FOOTER========================= */
.footer-background {
  background: var(--background-color);
}
/* MAYBE BETTER DELETE LATER CLASS ABOVE? */

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.white-logo-color {
  color: #f4f4fd;
}
/* +++++++++++++++++++++++++++++++++========================PORTFOLIO-PAGE========================================+++++++++++++++++++ */
/* ==============================BUTTONS========================= */
.portfolio-btn {
  background: #f4f4fd;
}

.portfolio-btn-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-accent-color);
  text-align: center;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--brand-color);
  color: #ffffff;
}

.portfolio-btn:active {
  background: #404bbf;
  color: #ffffff;
}

/* ==============================EXAMPLES========================= */
.examples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}
.examples-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
